name: Test Package

on: [push, pull_request]

jobs:

  flake8_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8 .

  python3_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [debian10, debian9, ubuntu20.04, ubuntu18.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Update bash files
        run: |
          chmod +x .ci/run.sh
          chmod +x .ci/install.sh
      - name: Build the docker
        env:
          OS: ${{ matrix.os }}
        run: docker build -t ndts .ci/${OS}_py3
      - name: Run the docker
        run: docker run  --name  ndts -d -it -v `pwd`:/home/tango    ndts
      - name: install tango
        env:
          OS: ${{ matrix.os }}
        run: .ci/install.sh ${OS} 3
      - name: run tests
        run: .ci/run.sh 3
      - name: Stop the docker
        run: docker container stop ndts

  python2_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [debian10, debian9, ubuntu18.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Update bash files
        run: |
          chmod +x .ci/run.sh
          chmod +x .ci/install.sh
      - name: Build the docker
        env:
          OS: ${{ matrix.os }}
        run: docker build -t ndts .ci/${OS}_py2
      - name: Run the docker
        run: docker run  --name  ndts -d -it -v `pwd`:/home/tango ndts
      - name: install tango
        env:
          OS: ${{ matrix.os }}
        run: .ci/install.sh ${OS} 2
      - name: run tests
        run: .ci/run.sh 2
      - name: Stop the docker
        run: docker container stop ndts
